/* App.css */

/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

/* Chirp Wrapper */
.chirp-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #1e1e1e;
  border: 1px solid #333333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.chirp {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2b2b2b;
  border: 1px solid #444444;
  border-radius: 6px;
}

.chirp-time {
  font-size: 12px;
  color: #b0b0b0;
  margin-bottom: 8px;
}

.chirp-text {
  font-size: 16px;
  color: #e0e0e0;
  white-space: pre-wrap;
}

/* No posts message */
p {
  text-align: center;
  color: #757575;
  font-size: 14px;
}

/* Input Wrapper */
.input-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  background-color: #1e1e1e;
  border: 1px solid #333333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Textarea */
/* Textarea */
.text-input {
  width: calc(100% - 5px); /* 부모 컨테이너 안에 여백 포함 */
  min-height: 80px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #444444;
  border-radius: 6px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  box-sizing: border-box; /* 패딩 포함한 너비 계산 */
}


.text-input:focus {
  border-color: #1da1f2;
  box-shadow: 0 0 5px rgba(29, 161, 242, 0.4);
}

/* Button Wrapper */
.button-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.error-message {
  color: #ff5252;
  font-size: 12px;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1da1f2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:disabled {
  background-color: #1da1f2;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #1da1f2;
}


.like-count {
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: 8px;
}

.dislike-count {
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: 8px;
}

.like-dislike-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.like-button {
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #1da1f2;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dislike-button {
  padding: 5px 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff5252;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chirp-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  gap: 5px;
}

.like-dislike-bar {
  width: 300px;
  height: 10px;
  background-color: #FF4B4B;
  position: relative;
  border-radius: 5px;
  overflow: hidden;  /* 바가 넘치지 않도록 설정 */
}

.like-ratio {
  transition: width 0.3s ease;
  border-radius: 5px 0 0 5px;  /* 왼쪽 모서리만 둥글게 */
  top: 0;  /* 상단에 맞춤 */
  bottom: 0;  /* 하단에 맞춤 */
}

.imgInput {
  display: none;
}

.imgInputButton {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 14px;
}

.imgInput-wrapper {
  position: relative;
  display: inline-block;
}

.chirp-img {
  width: 50%;
  height: auto;
  border-radius: 6px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
  border: 1px solid #444444;
  
}